body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}
*,
*
:before,
:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
/* ===================================================
            BACKGROUND COLOR CHANGE
   =================================================== */
.color-change-5x {
	animation: color-change-5x 120s linear infinite alternate both;
  height: 500px;
}

@keyframes color-change-5x {
  0% {
    background: #0d6efd;
  }
  5% {
    background: #6610f2;
  }
  10% {
    background: #6f42c1;
  }
  15% {
    background: #d63384;
  }
  20% {
    background: #dc3545;
  }
  25% {
    background: #fd7e14;
  }
  30% {
    background: #ffc107;
  }
  35% {
    background: #198754;
  }
  40% {
    background: #f8f9fa;
  }
  45% {
    background: #20c997;
  }
  50% {
    background: #0dcaf0;
  }
  55% {
    background: blue;
  }
  60% {
    background: #fff;
  }
  65% {
    background: #6c757d;
  }
  70% {
    background: #343a40;
  }
  75% {
    background: #0d6efd;
  }
  80% {
    background: #6c757d;
  }
  85% {
    background: #198754;
  }
  90% {
    background: #0dcaf0;
  }
  95% {
    background: #ffc107;
  }
  100% {
    background: #dc3545;
  }
}
/* ===================================================
            AUDIO
   =================================================== */
.audioembade {
    position: fixed;
    z-index: 6;
}
/* ===================================================
            PARTICLES
   =================================================== */
.i-large,
.i-medium,
.i-small {
	position : fixed;
	top: 100px; right: 0; bottom: 100px; left: 0;
}

.i-medium {
	background: url('../IMG/particules_medium.png') repeat 0px 0px;
	-webkit-animation: dropFlowParticles 12s linear infinite;
	     -o-animation: dropFlowParticles 12s linear infinite;
	        animation: dropFlowParticles 12s linear infinite;
}
.i-small {
	background: url('../IMG/particules_small.png') repeat 0px 0px;
	-webkit-animation: dropFlowParticles 27s linear infinite;
	     -o-animation: dropFlowParticles 27s linear infinite;
	        animation: dropFlowParticles 27s linear infinite;
}

@-webkit-keyframes dropFlowParticles {
	from { background-position: 0 0; }
	to { background-position: 0 413px; }
}
@keyframes dropFlowParticles {
	from { background-position: 0 0; }
	to { background-position: 0 413px; }
}

/* ===================================================
            404 CAROUSEL
   =================================================== */
#carouselExampleSlidesOnly {
  width: 300px;
  height: 200px;
  left: 38%;
}
#carousel.card {
  height: 230px;
}
/* ==============================================
                  NAVBAR
   =========================================== */
.navbar-brand {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}
.navbar-brand:hover {
  color: yellowgreen;
}
.navbar-expand-lg {
  background: blue;
}

.navbar-expand-lg li a {
  color: white;
}

.nav-links {
  margin-right: 50px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: Bold;
}
.nav-links a.nav-links:hover {
  color: yellowgreen;
  text-decoration: underline;
}

.btn-info {
  background-color: #e12235;
}
/* ==============================================
                  HOME PAGE
   =========================================== */
.party {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  color: orange;
  background: linear-gradient(to right, red, #fff, green);
}
 .card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 400px;
}

.homepage .news-headings {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 5px;
}

.news-headings a {
  color: white;
  font-size: 1.7rem;
  text-decoration: none;
}
.headline {
  padding-top: 150px;
}

/* ==============================================
                  SOURCES
   =========================================== */
 .card {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-bottom: 1px;
  padding: 1px 1px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
}
.sources .row {
  overflow: scroll;
  width: 700px;
  height: 400px;
  margin: 0 auto;
}

.card:hover {
  box-shadow: 0 0 11px 5px red;
}

.card-img-top {
  height: 250px;
}
.height .card {
  height: 460px;
}
/* ==============================================
            ADDITION ON THE ARTICLE
   =========================================== */ 
.justify-content-around h4 {
  border-radius: 30px;
  padding: 5px;
  font-size: 15px;
  margin-right: 5px;
}
.justify-content-around div a {
  text-decoration: none;
  font-weight: bold;
}
.justify-content-around div a:hover {
  color: yellowgreen;
}

/* ==============================================
                  FOOTER
   =========================================== */ 
footer {
  background: blue;
  padding: 15px;
}

footer div p {
  font-size: 15px;
  color: white;
}
footer div p span {
  font-weight: bolder;
}
/* ==============================================
                  MEDIA QUERIES
   =========================================== */
@media (min-width: 768px) and (max-width: 991px) {
  footer h5 {
    display: none;
  }
  footer p {
    display: block;
  }
}
 
@media (max-width: 767px) {
  footer h5 {
    display: none;
  }
  footer p {
    display: block;
  }
}