{% extends 'base.html'%}

{% block content %}
    <body>
        <div class="container mt-3">
            <div class="row">
                <div class="text-center">
                    <div class=" m-3 alert alert-danger text-uppercase" role="alert">
                        <h3>Page Not Found!</h3>
                        <br><br>
                        <h3>Sorry, we couldn't find what you're looking for</h3>
                        <h3> for what you are looking for is not categorised in our server.</h3>
                        <h3>Please check your URL!</h3>
                        <h3>Or check your network connections</h3>
                        <img src="https://raw.githubusercontent.com/freestyletear/git-search-api/master/git-search-api/src/assets/img/zoomies-small.gif" alt="">
                        <!--=====================================================================================
                                                        CAROUSEL SLIDES ONLY
                        ==========================================================================================-->
                        <div id="carousel" class="card">
                            <div class="row">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="{{url_for('static',filename='IMG/404-2.png')}}" class="d-block" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="{{url_for('static',filename='IMG/404-3.png')}}" class="d-block" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="{{url_for('static',filename='IMG/404-4.jpeg')}}" class="d-block" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
    </body>
{% endblock %}