{% import 'macros.html' as macro%}
{% extends "base.html" %}
{% block content %}


<!--=================================================
                HOME PAGE
================================================= -->
<div class="homepage mt-2">
    <div class="m-2 text-center row">
        {% for bbc in bbc_home_picture %}
            <div class="col-md-4">
                <div class="card-image p-4 mb-3" style="background-image: url({{bbc.urlToImage}});">
                    <div class="headline-">
                        <button class="btn btn-secondary mt-5">BBC News</button>
                        <h5 class="news-headings mt-2"><a target="_blank" href="{{ bbc.url }}">{{ bbc.title }}</a></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for cnn_news in cnn %}
            <div class="col-md-4">
                <div class="card-image p-4 mb-3" style="background-image: url({{cnn_news.urlToImage}});">
                    <div class="headline-">
                        <button class="btn btn-secondary mt-1">CNN News</button>
                        <h5 class="news-headings mt-2"><a target="_blank" href="{{cnn_news.url}}">{{cnn_news.title}}</a></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for google in google %}
            <div class="col-md-4">
                <div class="card-image p-4 mb-3" style="background-image: url({{google.urlToImage}});">
                    <div class="headline-">
                        <button class="btn btn-secondary mt-1">Google News</button>
                        <h5 class="news-headings mt-2"><a target="_blank" href="{{google.url}}">{{ google.title}}</a></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<!--=================================================
                SOURCES
================================================= -->
<div class="sources m-2">
    <div class="card p-2">
        <h3 class="text-center mb-4">Sources</h3>
        <div class="row">
            {{ macro.displayNewsSources(sources) }}
        </div>
    </div>
</div>

<div class="top-news m-2">
    <h3 class="text-center mt-5 mb-4">BBC</h3>
    <div class="row">
        {{ macro.displayNewsSourceArticles(bbc_news) }}
    </div>
</div>
<div class="top-news m-2">
    <h3 class="text-center mt-5 mb-4">Al Jazeera</h3>
    <div class="row">
        {{ macro.displayNewsSourceArticles(aljazeera_english) }}
    </div>
</div>
{% endblock %}